body{
    margin: 0;
}
.logo{
    text-align: center;
}
.header{
    background: aqua;
}

.form{
    text-align: center;
}

.Done{
    position: absolute;
    right: 0;
    background: aquamarine;
    height: 700px;
    width: 600px;
    margin-right: 10px;
}

.Do{
    position: absolute;
    right: 34%;
    background: aquamarine;
    height: 700px;
    width: 600px;

}

.toDo{
    position: absolute;
    background: aquamarine;
    height: 700px;
    width: 600px;
}



.Main{
    margin: 10px;
    background-color: aqua;
    height: 739px;
}

